################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gradebook/v16/Browse.VC.opendb
C:\Users\alexi\source\repos\Integration-Project\cppProperties.json
C:\Users\alexi\source\repos\Integration-Project\Gradebook.sln
C:\Users\alexi\source\repos\Integration-Project\Gradebook.vcxproj
C:\Users\alexi\source\repos\Integration-Project\Gradebook.vcxproj.filters
C:\Users\alexi\source\repos\Integration-Project\Gradebook.vcxproj.user
/.vs/Gradebook/v16/
